# Files
gradlew
gradlew.bat

# Directories
/out/
/gradle/
/.idea/
/.gradle/

# Runtime
/runtime/resourcepacks
/runtime/saves
/runtime/shaderpacks
/runtime/authetication.txt
/runtime/options.txt
/runtime/optionsof.txt
/runtime/optionsshaders.txt
/runtime/server.properties
/runtime/usercache.json
/runtime/servers.dat
/runtime/transition-tracker
/runtime/assets/skins