# Files
gradlew
gradlew.bat
gradle.properties

# Directories
/out/
/gradle/
/.idea/
/.gradle/

# Runtime
/runtime/saves
/runtime/authentication.txt
/runtime/options.txt
/runtime/optionsof.txt
/runtime/optionsshaders.txt
/runtime/server.properties
/runtime/usercache.json
/runtime/servers.dat
/runtime/transition-tracker
/runtime/assets/skins
/runtime/logs
/runtime/screenshots
/runtime/launcher_profiles.json

# Runtime Dragonfly
/runtime/dragonfly/options.json
/runtime/dragonfly/glyphs
/runtime/dragonfly/mods/hotkeys/hotkeysDB.json
/runtime/dragonfly/keystrokes.json

# Dragonfly Secrets
/runtime/dragonfly/.secrets/
/runtime/resourcepacks/
/runtime/shaderpacks/
/runtime/dragonfly/accounts.json

/runtime/dragonfly/alpha.key
/runtime/crash-reports/
/runtime/assets/objects/
/runtime/dragonfly/mods/keystrokes/keystrokes.json
/runtime/dragonfly/mods/hotkeys/hotkeys.json
