# Project exclude paths
/bin/
/conf/
/csv/
/docs/
/eclipse/
/logs/
/modsrc/
/out/
/reobf/
/runtime/
/temp/
/jars/assets/
/jars/crash-reports
/jars/logs/
/jars/resourcepacks/
/jars/saves/
/jars/screenshots/
/jars/shaderpacks/
/jars/transition-tracker/
/jars/versions/
/jars/usercache.json
/jars/servers.dat
/jars/server.properties
/jars/authetication.txt
/stuff/
